.movie-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #12181f;
  color: #fff;
}

.movie-detail__header {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.movie-detail__poster {
  width: 70%;
  height: auto;
  margin-right: 30px;
}

.movie-detail__info {
  flex: 1;
}

.movie-detail__title {
  font-size: 36px;
  margin: 0 0 10px;
}

.movie-detail__release-date {
  font-size: 18px;
  margin: 0 0 10px;
}

.movie-detail__overview {
  font-size: 20px;
  margin: 0 0 30px;
  text-align: justify;
  text-align-last: center;
}

.movie-detail__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.movie-detail__vote_average {
  display: flex;
}

.movie-detail__buttons-box {
  display: flex;
  justify-content: center; 
}

.movie-detail__buttons-box > * {
  margin: 0 10px; 
}

.movie-detail__buttons-box {
  display: flex;
}

.movie-detail__rating-value {
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
  color: #ffbf00;
}

.movie-detail__popularity {
  font-size: 18px;
  color: #666;
  margin: 0;
}

.movie-detail__rent-button {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #00df9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie-detail__watch-button {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie-detail__rent-button:hover  {
background-color: #00df9a;
}

.movie-detail__watch-button:hover {
  background-color: #ff0000;
}

