.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content {
    text-align: center;
  }
  
  .modal-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .modal-message {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .modal-buttons{

  }
  
  .modal-button__back-home {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .modal-button__view-movie {
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .modal-button__back-home:hover {
    background-color: #2e6fb4;
  }

  .modal-button__view-movie:hover {
    background-color: #c94b52;
  }

  .modal-buttons__box {
    display: flex;
    justify-content: center; 
  }
  
  .modal-buttons__box > * {
    margin: 0 10px; 
  }
  