/* Header.css */

.HeaderComponent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, opacity 0.3s, transform 0.3s; /* Transición suave */
}

.HeaderComponent.scrolled {
    background-color: rgba(23, 32, 42, 0.9); /* Cambia el color de fondo cuando se hace scroll */
}

.HeaderComponent.hidden {
    opacity: 0; /* Oculta el encabezado */
    transform: translateY(-100%);
}

.HeaderComponent.visible {
    opacity: 1; /* Muestra el encabezado */
    transform: translateY(0); /* Lo devuelve a su posición original */
}
